h1, .h1, .s40 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
}

h2, .h2, .s32 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.4;
}

h3, .h3, .s24 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}

.s20 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
}

h4, p, .h4, .s16 {
  font-size: 15px;
  font-weight: 300;
}

.s14 {
  font-size: 14px;
}

.s13 {
  font-size: 13px;
}

@media only screen and (min-width: 768px) {
  h1, .h1, .s40 {
    font-size: 40px;
  }

  h2, .h2, .s32 {
    font-size: 32px;
  }

  h3, .h3, .s24 {
    font-size: 24px;
  }

  .s20 {
    font-size: 20px;
  }

  h4, p, .h4, .s16 {
    font-size: 16px;
  }

  .s14 {
    font-size: 14px;
  }

  .s13 {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1440px) {
  h1, .h1, .s40 {
    font-size: 40px;
  }

  h2, .h2, .s32 {
    font-size: 32px;
  }

  h3, .h3, .s24 {
    font-size: 24px;
  }

  .s20 {
    font-size: 20px;
  }

  h4, p, .h4, .s16 {
    font-size: 16px;
  }
}
