.bodyContainer.white .site-header {
  background-color: #fff;
}

.bodyContainer.darkBlue .site-header {
  background-color: #253952;
}

.bodyContainer.txt_white .site-header {
  color: #fff;
}

.bodyContainer.txt_darkBlue .site-header {
  color: #253952;
}

.inner_bottom_header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-top: 18px;
  padding-bottom: 18px;
  z-index: 100;
}

.site-branding,
.custom-logo-link {
  display: inline-flex;
}

.nav-menu {
  display: flex;
  justify-content: right;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu a {
  position: relative;
  text-decoration: none;
  border: none;
  outline: 0;
  font-size: 14px;
  font-weight: 600;
  color: inherit;
}

.showSquareOmActivatedLink .nav-menu a:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background: transparent;
  right: -10px;
  bottom: 4px;
}

.bodyContainer.transparentHeader .site-header {
  background: transparent;
  color: #fff;
  position: absolute;
  width: 100%;
}

.darkTransparentLayer {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0 0 0 / 80%);
  z-index: 222;
}

body.openLayer {
  overflow: hidden;
}

body.openLayer .darkTransparentLayer {
  display: block;
}

/* Mobile */
@media only screen and (max-width: 991px) {
  body.menuIsOpened {
    overflow: hidden;
  }

  .inner_bottom_header {
    padding-left: 25px;
    padding-right: 25px;
  }

  .site-branding {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding: 0 40px;
  }

  .custom-logo {
    width: 170px;
    height: auto;
  }

  .nav-button-wrap {
    flex: 1;
    position: absolute;
  }

  .nav-icon {
    margin: 0 0 0 auto;
    width: 36px;
    cursor: pointer;
    padding: 0;
  }

  .nav-icon:after,
  .nav-icon:before,
  .nav-icon span {
    background-color: #2D4057;
    border-radius: 3px;
    content: "";
    display: block;
    height: 3px;
    margin: 9px 0;
    transition: all .2s ease-in-out;
  }

  .bodyContainer.transparentHeader .nav-icon:after,
  .bodyContainer.transparentHeader .nav-icon:before,
  .bodyContainer.transparentHeader .nav-icon span,
  .bodyContainer.darkBlue .nav-icon:after,
  .bodyContainer.darkBlue .nav-icon:before,
  .bodyContainer.darkBlue .nav-icon span {
    background-color: #fff;
  }

  /*.open .nav-icon:before {*/
  /*  transform: translateY(8px) rotate(135deg);*/
  /*}*/
  /*.open .nav-icon:after {*/
  /*  transform: translateY(-8px) rotate(-135deg);*/
  /*}*/
  /*.open .nav-icon span {*/
  /*  transform: scale(0);*/
  /*}*/
  .main-navigation {
    width: 100%;
    height: 0;
    padding: 0 25px;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    background: #127BB4;
    color: #fff;
    z-index: 10;
    overflow: hidden;
    transition: height 1s;
  }

  .bodyContainer.darkBlue .main-navigation {
    background-color: #fff;
    color: #2D4057;
  }

  .site-header.open .main-navigation {
    height: calc(100vh - 75px);
  }

  .menu-main-menu-container {
    padding-top: 13px;
  }

  .site-header.open .main-navigation .menu {
    width: 100%;
  }

  .nav-menu {
    padding: 0;
    flex-direction: column;
  }

  .main-navigation li.menu-item {
    padding: 15px 0;
  }

  .nav-menu a {
    width: 100%;
    padding: 5px 0;
    display: block;
  }

  .showSquareOmActivatedLink .nav-menu a:hover:after,
  .showSquareOmActivatedLink .nav-menu a[aria-current="page"]:after {
    display: none;
  }

  .nav-menu a[aria-current="page"] {
    color: #67CAFF;
  }

  .bodyContainer.transparentHeader .main-navigation {
    background: #fff;
  }

  .bodyContainer.transparentHeader .main-navigation {
    color: #2D4057;
  }

  .bodyContainer.transparentHeader .nav-menu a[aria-current="page"] {
    color: #0082C8;
  }

  /* Custom */
  .m3asset.home .bodyContainer.transparentHeader .site-header {
    position: relative;
  }

  .m3asset.home .bodyContainer.transparentHeader .nav-icon:after,
  .m3asset.home .bodyContainer.transparentHeader .nav-icon:before,
  .m3asset.home .bodyContainer.transparentHeader .nav-icon span {
    background-color: #2D4057;
  }

  .m3asset.home .bodyContainer.transparentHeader .main-navigation {
    background: #127BB4;
    color: #fff;
  }

  .m3asset.home .bodyContainer.transparentHeader .nav-menu a[aria-current="page"] {
    color: #67CAFF;
  }

}

/* Desktop */
@media only screen and (min-width: 992px) {
  .site-header {
    align-items: center;
  }

  .main-navigation {
    flex: auto;
  }

  .main-navigation li.menu-item {
    flex: 1;
    text-align: right;
    max-width: fit-content;
  }

  .main-navigation li.menu-item {
    margin-left: 6vw;
  }

  /* Color */
  .showSquareOmActivatedLink .nav-menu a:hover:after,
  .showSquareOmActivatedLink .nav-menu a[aria-current="page"]:after {
    background: #0082C8;
  }

  .nav-menu a:hover, .nav-menu a[aria-current="page"] {
    color: #0082C8;
  }

  .bodyContainer.transparentHeader .nav-menu a:hover,
  .bodyContainer.transparentHeader .nav-menu a[aria-current="page"] {
    color: #54AAD9;
  }

  .bodyContainer.transparentHeader.showSquareOmActivatedLink .nav-menu a:hover,
  .bodyContainer.transparentHeader.showSquareOmActivatedLink .nav-menu a[aria-current="page"] {
    color: #fff;
  }

  .bodyContainer.transparentHeader.showSquareOmActivatedLink .nav-menu a:hover:after,
  .bodyContainer.transparentHeader.showSquareOmActivatedLink .nav-menu a[aria-current="page"]:after {
    background: #fff;
  }
}

@media only screen and (min-width: 1180px) {
  .main-navigation li.menu-item {
    margin-left: 80px;
  }
}

