.bodyContainer.white .site-header {
  background-color: #fff;
}

.bodyContainer.darkBlue .site-header {
  background-color: #253952;
}

.bodyContainer.txt_white .site-header {
  color: #fff;
}

.bodyContainer.txt_darkBlue .site-header {
  color: #253952;
}

.inner_bottom_header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-top: 18px;
  padding-bottom: 18px;
  z-index: 100;
}

.site-branding,
.custom-logo-link {
  display: inline-flex;
}

.nav-menu {
  display: flex;
  justify-content: right;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu a {
  position: relative;
  text-decoration: none;
  border: none;
  outline: 0;
  font-size: 14px;
  font-weight: 600;
  color: inherit;
}

.showSquareOmActivatedLink .nav-menu a:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background: transparent;
  right: -10px;
  bottom: 4px;
}

.showSquareOmActivatedLink .nav-menu a:hover:after,
.showSquareOmActivatedLink .nav-menu a[aria-current="page"]:after {
  background: #0082C8;
}

.nav-menu a:hover, .nav-menu a[aria-current="page"] {
  color: #0082C8;
}

.bodyContainer.transparentHeader .nav-menu a:hover,
.bodyContainer.transparentHeader .nav-menu a[aria-current="page"] {
  color: #54AAD9;
}

.bodyContainer.transparentHeader .site-header {
  background: transparent;
  color: #fff;
  position: absolute;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .site-branding .custom-logo {
    width: 170px;
    height: auto;
  }

  .nav-button-wrap {
    flex: 1;
  }

  .nav-icon {
    margin: 0 0 0 auto;
    width: 30px;
    cursor: pointer;
    padding: 0 5px;
  }

  .nav-icon:after,
  .nav-icon:before,
  .nav-icon span {
    background-color: #2D4057;
    border-radius: 3px;
    content: "";
    display: block;
    height: 2px;
    margin: 6px 0;
    transition: all .2s ease-in-out;
  }

  .bodyContainer.transparentHeader .nav-icon:after,
  .bodyContainer.transparentHeader .nav-icon:before,
  .bodyContainer.transparentHeader .nav-icon span,
  .bodyContainer.darkBlue .nav-icon:after,
  .bodyContainer.darkBlue .nav-icon:before,
  .bodyContainer.darkBlue .nav-icon span {
    background-color: #fff;
  }

  .open .nav-icon:before {
    transform: translateY(8px) rotate(135deg);
  }

  .open .nav-icon:after {
    transform: translateY(-8px) rotate(-135deg);
  }

  .open .nav-icon span {
    transform: scale(0);
  }

  .main-navigation {
    display: none;
    width: 100%;
    padding: 0 27px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 10;
  }

  .bodyContainer.darkBlue .main-navigation {
    background-color: #253952;
  }

  .bodyContainer.transparentHeader .main-navigation {
    background: transparent;
  }

  .site-header.open .main-navigation {
    display: block;
  }

  .site-header.open .main-navigation .menu {
    width: 100%;
  }

  .nav-menu {
    padding: 0;
    text-align: right;
    flex-direction: column;
  }

  .nav-menu a {
    width: 100%;
    padding: 5px 0;
    display: block;
  }

  .nav-menu a:after {
    right: -11px;
    bottom: 14px;
  }

  /* important */
  .bodyContainer.txtMobile_darkBlue .site-header {
    color: #2D4057 !important;
  }

  .bodyContainer.txtMobile_darkBlue .nav-icon:after,
  .bodyContainer.txtMobile_darkBlue .nav-icon:before,
  .bodyContainer.txtMobile_darkBlue .nav-icon span {
    background-color: #2D4057 !important;
  }

  .bodyContainer.txtMobile_white .site-header {
    color: #fff !important;
  }

  .bodyContainer.txtMobile_white .nav-icon:after,
  .bodyContainer.txtMobile_white .nav-icon:before,
  .bodyContainer.txtMobile_white .nav-icon span {
    background-color: #fff !important;
  }
}

@media only screen and (min-width: 768px) {
  .site-header {
    align-items: center;
  }

  .main-navigation {
    flex: auto;
  }

  .main-navigation li.menu-item {
    flex: 1;
    text-align: right;
    max-width: fit-content;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .main-navigation li.menu-item {
    margin-left: 4vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .bodyContainer.txtTablet_darkBlue .site-header {
    color: #2D4057 !important;
  }

  .bodyContainer.txtTablet_darkBlue .nav-icon:after,
  .bodyContainer.txtTablet_darkBlue .nav-icon:before,
  .bodyContainer.txtTablet_darkBlue .nav-icon span {
    background-color: #2D4057 !important;
  }

  .bodyContainer.txtTablet_white .site-header {
    color: #fff !important;
  }

  .bodyContainer.txtTablet_white .nav-icon:after,
  .bodyContainer.txtTablet_white .nav-icon:before,
  .bodyContainer.txtTablet_white .nav-icon span {
    background-color: #fff !important;
  }
}

@media only screen and (min-width: 961px) {
  .main-navigation li.menu-item {
    margin-left: 80px;
  }
}
