html {
  color: #1E1E1E;
  font-family: "Montserrat", san-serif, serif;
  line-height: 2;
  font-size: 16px;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.black {
  color: #1E1E1E;
}

a, .darkBlue {
  color: #2D4057;
}

a:hover, a:focus {
  color: #0082C8;
}

h1 {
  margin-top: 0;
  margin-bottom: 25px;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

h4, p {
  margin-top: 0;
  margin-bottom: 10px;
}

.lh_2, .lh_20 {
  line-height: 2;
}

.lh_17 {
  line-height: 1.7;
}

.lh_15 {
  line-height: 1.5;
}

.lh_14 {
  line-height: 1.4;
}

.lh_1, .lh_10 {
  line-height: 1;
}

.fw300 {
  font-weight: 300 !important;
}

.fw400 {
  font-weight: 400 !important;
}

.fw500 {
  font-weight: 500 !important;
}

.fw600 {
  font-weight: 600 !important;
}

.fw700 {
  font-weight: 700 !important;
}

.lr_pad {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.tb_pad {
  padding-top: 40px;
  padding-bottom: 40px;
}

.error-404.not-found {
  width: 100%;
  min-height: 404px;
  background: #0082C8;
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}

.blueSquare {
  position: relative;
  padding: 0 16px;
  max-width: fit-content;
}

.showSquareOmActivatedLink .blueSquare:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: #0082C8;
  right: 0;
  bottom: 7px;
}

.darkButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 36px;
  line-height: 36px;
  background: #2D4057;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
}

.darkButton svg {
  margin-left: 5px;
}

.darkButton:hover {
  color: #00a6ff;
}
.darkButton:hover svg path {
  fill: #00a6ff;
}

@media only screen and (min-width: 768px) {
  .lr_pad {
    padding-left: 30px;
    padding-right: 30px;
  }

  .tb_pad {
    padding-top: 8vw;
    padding-bottom: 8vw;
  }
}

@media only screen and (min-width: 1180px) {
  .lr_pad {
    max-width: 1124px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .tb_pad {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}