html {
  color: #1E1E1E;
  font-family: "Montserrat", san-serif, serif;
  line-height: 2;
  font-size: 16px;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.black {
  color: #1E1E1E;
}

a, .darkBlue {
  color: #2D4057;
}

a:hover, a:focus, .blue {
  color: #0082C8;
}

h1 {
  margin-top: 0;
  margin-bottom: 25px;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

h4, p {
  margin-top: 0;
  margin-bottom: 10px;
}

.lh_2, .lh_20 {
  line-height: 2;
}

.lh_17 {
  line-height: 1.7;
}

.lh_15 {
  line-height: 1.5;
}

.lh_14 {
  line-height: 1.4;
}

.lh_1, .lh_10 {
  line-height: 1;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.lr_pad {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.tb_pad {
  padding-top: 40px;
  padding-bottom: 40px;
}

.error-404.not-found {
  width: 100%;
  min-height: 404px;
  background: #0082C8;
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .lr_pad {
    padding-left: 50px;
    padding-right: 50px;
  }

  .tb_pad {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
}

@media only screen and (min-width: 1024px) {
  .lr_pad {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

@media only screen and (min-width: 1440px) {
  .lr_pad {
    max-width: 1124px;
    padding-left: 0;
    padding-right: 0;
  }

  .tb_pad {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}