.slider_2cols_section {
  position: relative;
  background: #fff;
}

.slider_2cols_section.bg_lightSky {
  background: #E9F3F9;
}

.slider_2cols_section ._left_col {
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.slider_2cols_section ._right_col {
  position: relative;
  width: 100%;
}

.slider_2cols_section ._title {
  text-transform: uppercase;
}

.slider_2cols_section ._right_col {
  color: #fff;
}

.slider_2cols_section_item ._wrap {
  padding-top: 100px;
  padding-bottom: 100px;
}

.slider_2cols_section_item ._heading {
  position: relative;
  min-width: fit-content;
  max-width: fit-content;
  z-index: 0;
}

.slider_2cols_section_item ._heading:before {
  content: '';
  height: 12px;
  width: 100%;
  background-color: #556A7C;
  position: absolute;
  bottom: 5px;
  z-index: -1;
}

@media only screen and (max-width: 991px) {
  .slider_2cols_section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 992px) {
  .slider_2cols_section {
    display: flex;
    min-height: calc(100vh - 114px);
  }

  .slider_2cols_section ._left_col {
    flex: 46%;
  }

  .slider_2cols_section ._right_col {
    flex: 54%;
    width: 0;
  }

  .slider_2cols_section .slick-list {
    display: flex !important;
    height: 100%;
  }

  .slider_2cols_section .slick-track {
    display: flex !important;
  }

  .slider_2cols_section_slick {
    height: 100%;
  }

  .slider_2cols_section ._left_col,
  .slider_2cols_section_item ._wrap {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .slider_2cols_section_item ._heading {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .slider_2cols_section ._title {
    margin-bottom: 30px;
  }

}

@media only screen and (min-width: 992px) {
  .slider_2cols_section ._left_col {
    padding-left: 30px;
    padding-right: 30px;
  }

  .slider_2cols_section ._right_col .lr_pad {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: calc(54vw - 30px - 306px - 18vw);
    padding-right: 30px;
  }

  .slider_2cols_section_item ._wrap {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1180px) {
  .slider_2cols_section ._left_col {
    padding-left: calc(50vw - 562px);
  }

  .slider_2cols_section ._right_col .lr_pad {
    padding-left: calc(54vw - 50vw + 562px - 298px - 240px);
  }

  .slider_2cols_section_item ._wrap {
    max-width: 630px;
  }
}