.box_grid_section {
  position: relative;
  overflow: hidden;
  background: #fff;
}

.box_grid_section.gray {
  background: #F8F8F8;
}

.box_grid_section.light_sky {
  background: #E9F3F9;
}

.box_grid_section .box_grid_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.box_grid_section .box_grid_flex .box_item {
  position: relative;
  flex: 1 auto;
  max-width: 350px;
  min-height: 350px;
  width: 100%;
  text-align: center;
  padding: 25px;
  background: #F8F8F8;
  margin: 18px 0;
  border-radius: 10px;
}

.box_grid_section .box_grid_flex.bottom .box_item {
  padding-bottom: 143px;
}

.box_grid_section .box_grid_flex.light_sky .box_item {
  background: #E9F3F9;
}

.box_grid_section .box_grid_flex ._box_img {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}

.box_grid_section .box_grid_flex ._box_img svg {
  max-width: 100%;
}

.box_grid_section .box_grid_flex.bottom ._box_img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  /*z-index: -1;*/
}

.box_grid_section .box_grid_flex.bottom .box_item.left ._box_img {
  left: 0;
  right: auto;
}

.box_grid_section .box_grid_flex.bottom .box_item.right ._box_img {
  right: 0;
  left: auto;
}

.box_grid_section .box_grid_flex.top .box_item.left ._box_img {
  justify-content: left;
}

.box_grid_section .box_grid_flex.top .box_item.right ._box_img {
  justify-content: right;
}

.box_grid_section .box_grid_flex ._box_item_summary {
  margin-bottom: 0;
}

.box_grid_section ._readMorePopUp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 333;
}

.box_grid_section ._readMoreButton {
  margin-top: 15px;
}

.box_grid_section ._readMoreButton.activated + ._readMorePopUp {
  display: flex;
}

.box_grid_section ._readMoreInner {
  position: relative;
  width: 90vw;
  max-width: 1124px;
  height: 90vh;
  max-height: 715px;
  background: #fff;
  text-align: left;
  padding: 20px 20px 40px;
  border-radius: 10px;
}

.box_grid_section ._readMoreInner .__content {
  height: calc(100% - 60px);
  overflow-y: auto;
}

.box_grid_section ._xClosePopup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px auto;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .box_grid_section .box_grid_flex {
    flex-direction: inherit;
    justify-content: center;
    align-items: inherit;
    flex-wrap: wrap;
  }

  .box_grid_section .box_grid_flex .box_item {
    flex: 350px;
    margin: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .box_grid_section ._readMoreInner {
    padding: 20px 20px 50px 50px;
  }

  .box_grid_section ._readMoreInner .__content {
    padding-right: 15px;
  }
}

@media only screen and (min-width: 1180px) {
  .box_grid_section .box_grid_flex {
    justify-content: space-between;
  }

  .box_grid_section .box_grid_flex .box_item {
    margin: 18px 0;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1360px) {

}