.box_grid_popup_section {
  position: relative;
  background: #fff;
}

.box_grid_popup_section.gray {
  background: #F8F8F8;
}

.box_grid_popup_section.light_sky {
  background: #E9F3F9;
}

.box_grid_popup_section .box_grid_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.box_grid_popup_section .box_grid_flex .box_item {
  position: relative;
  flex: 1 auto;
  max-width: 350px;
  min-height: 350px;
  width: 100%;
  text-align: center;
  padding: 20px;
  background: #F8F8F8;
  margin: 18px 0;
  border-radius: 10px;
}

.box_grid_popup_section .box_grid_flex.light_sky .box_item {
  background: #E9F3F9;
}

.box_grid_popup_section .box_grid_flex ._box_img {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}

.box_grid_popup_section .box_grid_flex ._box_img svg {
  max-width: 100%;
}

.box_grid_popup_section .box_grid_flex.bottom ._box_img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  z-index: -1;
}

.box_grid_popup_section .box_grid_flex.bottom .box_item.left ._box_img {
  left: 0;
  right: auto;
}

.box_grid_popup_section .box_grid_flex.bottom .box_item.right ._box_img {
  right: 0;
  left: auto;
}

.box_grid_popup_section .box_grid_flex.top .box_item.left ._box_img {
  justify-content: left;
}

.box_grid_popup_section .box_grid_flex.top .box_item.right ._box_img {
  justify-content: right;
}

.box_grid_popup_section .box_grid_flex ._box_item_summary {
  margin-bottom: 0;
}

.box_grid_popup_section ._heading_content_hover {
  position: relative;
}

.box_grid_popup_section ._box_item_content_heading {
  cursor: pointer;
}

.box_grid_popup_section ._box_item_content_heading:after {
  content: '';
  display: none;
  width: 0;
  height: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  color: #3A608B;
  border-bottom: 7px solid;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}


.box_grid_popup_section ._box_item_content_popup_wrap{
  display: none;
  position: absolute;
  background: #3A608B;
  color: #fff;
  padding: 20px 28px;
  text-align: left;
  width: 550px;
  height: auto;
  box-shadow: 0 4px 4px rgb(171 171 171 / 25%);
  border-radius: 15px;
  z-index: 99999;
}

.box_grid_popup_section ._box_item_content_heading:hover + ._box_item_content_popup_wrap {
  display: block;
}

.box_grid_popup_section ._box_item_content_heading:hover:after {
  display: block;
}


@media only screen and (min-width: 768px) {
  .box_grid_popup_section .box_grid_flex {
    flex-direction: inherit;
    justify-content: center;
    align-items: inherit;
    flex-wrap: wrap;
  }

  .box_grid_popup_section .box_grid_flex .box_item {
    flex: 350px;
    margin: 18px;
  }
}

@media only screen and (min-width: 1180px) {
  .box_grid_popup_section .box_grid_flex {
    justify-content: space-between;
  }

  .box_grid_popup_section .box_grid_flex .box_item {
    margin: 18px 0;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1360px) {

}