.title_section {
  position: relative;
  color: #fff;
}

.title_section ._inner {
  height: 475px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title_section ._text_wrap {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  margin: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title_section ._title {
  position: relative;
  min-width: fit-content;
  max-width: fit-content;
  margin: auto;
}

.title_section ._title:before {
  content: '';
  height: 12px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  bottom: 8px;
  z-index: -1;
}

.title_section ._title.uc_blue:before {
  background-color: #337EA3;
}

.title_section ._title.uc_light_wine:before {
  background-color: #826a88;
}

.title_section ._title.uc_blue_3F93BC:before {
  background-color: #3F93BC;
}

@media only screen and (min-width: 768px) {

}